*{
    padding: 0;
    margin: 0;
}

body{
    
 font-family: "Poppins", sans-serif;    
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: aliceblue;
    position:sticky; 
    top: 0;
    z-index:5;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}



.navbarlinks{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

.navbarlinks a{
    text-decoration: none;
    color: rgb(53, 51, 51);
}
.navbarlink a:hover{
    color: black;
    text-decoration: underline;
}

.menubar{
    display: none;
}

.sidenavbar{
    background-color: rgb(42, 42, 56);
    color: aliceblue;
    width: 50%;
    height: 100%;
    position:fixed;
    padding: 10px;
    z-index: 10;
    top: 0;
    left: -60%;
    transition: 1.5s;
}

.sidenavbarlink{
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;   
}

.sidenavbarlink a{
    padding: 10px;
    text-decoration: none;
    color: aliceblue;
}

.sidenavbarlink a:hover{
    color: rgb(183, 183, 183);
    text-decoration:underline;
}

.header{
    overflow: hidden;
    display: flex;
    width: 100%;
    position: relative;
    
}

.slider-images{
    display: flex;
    transition: 2s; 
     
}

.slider-image{
    width: 100vw;
    height:100vh; 
    opacity: 0.4;  
}

.slider-left-button{
    color: rgb(239, 244, 248);
    position: absolute;
    top: 35%;
    left: 5%;
    z-index: 1;
}


.slider-left-button i{
    font-size: 10vw;

}


.slider-right-button{
    color: rgb(239, 244, 248);
    position: absolute;
    top: 35%;
    right: 5%;
    
}

.slider-right-button i{
    font-size: 10vw;
}

.slider-content{
    position: absolute;
    color: white;
    text-align: center;
     width: 100%;
     top: 20%;
}

.slider-content h1{
    font-size: 5vw;
    color: rgb(9, 9, 9);
    font-weight: bold;
}

.slider-content h2{
    text-align:center;
    font: size 10px;
    margin-top: 10px;
    font-weight: bold;
    color: rgb(177, 35, 35);
}

.slider-content button{
    padding-left: 20px;
   padding-right: 20px;
   padding-top: 10px;
   padding-bottom: 10px;
   margin-top: 50px;
   border: none;
   border-radius: 10px;
   background-color: rgb(156, 24, 24);
   color: #000000;
}


.brands{
    display: flex;
    margin-top: 2vw;
    justify-content: space-between;
    padding: 10px;
}

.brand-img img{
width: 100%;
height: 50%;
}

.brand-icon{
    width: 4vw;
    align-items: center;
}

.brands-iteams{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 2vw;
}


.service{
    padding: 20px;
   
}
 .service-container1{
    display: flex;
    justify-content: space-between;
    align-items: center;   
    padding: 10px;
 }

.service-container2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;  
}
 .service-container2 div{
    background-color: rgb(237, 232, 232);
    border-radius: 5px;
    padding:10px;
    
}

.new{
    padding: 10px;
    padding-left: 20px;
}

.newarrival{
    
    display: flex;
    justify-content: space-between;
    margin-top: 2vw;
    overflow-x: scroll;
    gap: 20px;
}
.overlay{
    border-radius: 2%;
    position: absolute;
    width: 100%;
    height:100%;
    background-color: black;
    z-index: 2;
    top: 0;
    opacity: 0.2;
 }

.newarrival-container{
    position: relative;

    
}


.newarrival-container img{
    border-radius: 2%;
}

.newarrival::-webkit-scrollbar{
    appearance: none;
}
.newarrival-container
button{
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 5%;
        padding-bottom: 5%;
        margin-top: 10px;
        font-size: 1.2vw;
        color: #1D232C;
        border-radius: 10px;
        position: absolute;
        border: none;
        top: 50%;
        left: 18%;
        z-index: 2;
}

.most-wanted{
    display: flex;
    justify-content: space-between;
    margin-top: 2vw;
    overflow-x: scroll;
    gap: 20px;
}

.most h2{
    padding: 10px;
    padding-left: 20px;
}

.most-container{
    position: relative;
}

.most-wanted img{
    border-radius: 2%;
}

.sale-overlay{
    position: absolute;
    top:3px;
    left: 3px;
    font-size: 2vw;
    background-color: red;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10%;
}

.most-wanted::-webkit-scrollbar{
    appearance: none;
}

.like-button {
    /* Default color for the heart (e.g., black or gray) */
    color: #ccc;
    position: absolute;
    width: 15%;
    bottom: 12%;
    right: 5%;
  }
  

  .click img {
    /* Red color when liked */
    color: red;
  }


.news{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news input
{
    padding: 11px;
    width: 80%;
    margin-bottom: 10px;
    border: solid black 3px;

}

.news button{
    margin-top: 10px;
    padding: 5px;
    border-radius: 2%;
    background-color: #000000;
    color: aliceblue;
    cursor: pointer;
}

.product-section{
    padding: 10px;
    margin-top: 20px;
    
}


.products-search{
    width: 80%;
    border: solid black 2px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
}

.products-search input{
    width:100%;
border:none ;
background-color: transparent;

}

.products-search input:focus{
    outline:none;
}

.Products{
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.product-box{
    text-align: center;
    flex-basis: 18%;
}
 .product-box img{
    border-radius: 5px;
    opacity:0.9; 

 }


 .contact-form {
    background-color: #1D232C;
    color: #dddddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 60vw;
    margin: auto;
    padding: 5vw;
    padding-right: 10vw;
    margin-top: 10px;
  }

  .contact-form h2 {
    margin-bottom: 1vw;
   
  }

  .contact-form label {
    display: block;
    margin-bottom: 1vw;
 
  }

  .contact-form input[type="text"],
  .contact-form textarea {
    width: 100%;
    padding: 2vw;
    border: 1px solid #dddddd;
    border-radius: 4px;
    margin-bottom: 1vw;
    font-size: 1vw;
    
  }

  .contact-form textarea {
    resize: vertical;
    height: 10vh;
  }

  .contact-form input[type="submit"] {
    
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    background-color: #0056b3;
  }

  .contact-form input[type="submit"]:hover {
    background-color: #0056b3;
  }

.footer{
    margin-top: 20px;
    padding: 40px;
    background-color: #1D232C;
    color: aliceblue;
}





/* Media Query */

@media screen and (max-width:700px) {

    .menubar{
        display: block;
    }
    .navbarlinks{

        display: none;

    }

    .header{
        display: none;
    }

    .service-container1{
        flex-direction: row;
    
    }

    .service-container2{
        flex-direction: column;

    }

    .newarrival{
        display: flex;
    }
}